name: Benchmarking

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  bench-wrk:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: docker/setup-docker-action@v4
      - name: Install wrk
        run: |
          sudo apt-get update
          sudo apt-get install -y wrk
      - name: Bench PHP
        run: |
          docker build -t php-bench ./competitors/php
          docker run -d --rm -p 8080:8080 --name php-bench php-bench
          output=$(make test-wrk)
          docker stop php-bench
          docker rmi php-bench
          read latency req_sec transfer <<<"$(
            echo "$output" | awk '
              {
                for (i=1; i<=NF; i++) {
                  if ($i=="Latency")        l=$(i+1)
                  if ($i=="Req/Sec")        r=$(i+1)
                  if ($i=="Transfer/sec:")  t=$(i+1)
                }
              }
              END { print l, r, t }
            ')"

          echo -e "Total: \nLatency: $latency\nReq/Sec: $req_sec\nTransfer Rate: $transfer"
      - name: Bench Go
        run: |
          docker build -t go-bench ./competitors/golang
          docker run -d --rm -p 8080:8080 --name go-bench go-bench
          output=$(make test-wrk)
          docker stop go-bench
          docker rmi go-bench
          read latency req_sec transfer <<<"$(
            echo "$output" | awk '
              {
                for (i=1; i<=NF; i++) {
                  if ($i=="Latency")        l=$(i+1)
                  if ($i=="Req/Sec")        r=$(i+1)
                  if ($i=="Transfer/sec:")  t=$(i+1)
                }
              }
              END { print l, r, t }
            ')"

          echo -e "Total: \nLatency: $latency\nReq/Sec: $req_sec\nTransfer Rate: $transfer"
